<template name="Home">
  <div class="container">
    <h2>Net Zero Energy Performance</h2>

    <h3><i>UH College of Education</i></h3>

    <div class="row">
      <div class="co1">
        <div class="well"><h4><a name="ProductionvsConsumption"></a>Production vs Consumption</h4>
          <div class="img">
            <img src="/images/WeatherEX.PNG">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="well">
          <h4><a name="TodaysWeather"></a>Today's Weather</h4>

          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="co1">
        <div class="well"><h4><a name="SolarElectricityGeneration"></a>Solar Electricity Generation</h4>

        </div>
      </div>

      <div class="col">
        <div class="well"><h4><a name="SustainabilityPerformance"></a>Sustainability Performance</h4>

        </div>
      </div>
    </div>

    <div class="row"><h3>Energy Performance</h3></div>

    <div class="row">


      <div class="col">
        <div class="well"><a name="EnergyConsumptionToday"></a>

        </div>
      </div>

      <div class="col">
        <div class="well"><a name="EnergyConsumptionY2D"></a>

        </div>
      </div>
    </div>
  </div>
</template>
